In [1]:
#print something
print("hello")

hello

# Variables

In [ ]:
# Define variables and its types

var1 = 5
var2=3.5
var3="mihir"
var4=True
var5=1.5j
#tye function
print(type(var1))
print(var1)
print(type(var2))
print(var2)
print(type(var3))
print(var3)
print(type(var4))
print(var4)
print(type(var5))
print(var5)
#separation keyword sep
print(var1,var2,var3,var4,var5,sep=" : ")

In [ ]:
#sizeof function
print(var1.__sizeof__())
print(var2.__sizeof__())
print(var3.__sizeof__())
print(var4.__sizeof__())
print(var5.__sizeof__())

In [ ]:
#Multiple Assignment
a,b,c,d = 1,2.5,"mrp",11
print(a,b,c,d)

#multivar single value
x=y=z=50
print(x,y,z)

#last Assign value consider only
a,b = 1000,2000
print(a,b,c,d)

In [ ]:
#variable replace
x=y=z=1
w=x=7
z=y=10
x=z-x
print(w,x,y,z)
x

In [ ]:
#delet variable
del z

In [ ]:
z

# Strings

In [ ]:
#strings concatination and repeatation
str1="University"
str2="MSU"
print(type(str1),type(str2))
print(str1,str2)
print(str1+" name is "+str2)
print(str1*3,sep=",")

In [ ]:
#Length of string
print(len(str1))
print(len(str2))

In [ ]:
#indexing and slicing
# U n i v e r s i t y
# 0 1 2 3 4 5 6 7 8 9

#negqative indexing
print(str1[-10])
#positive indexing
print(str1[0])
print(str1[5])
#slicing of string [start:end:step]
print(str1[5:10])
print(str1[:10])
print(str1[0:10:2])

In [ ]:
#string formatting
string = "{} {} {}.format('python','programming','language')"
print(string)
string2 = " {2} {1} {0}.format('python','programming','language')"
print(string2)

# PYTHON LIST

In [8]:
list1=[1,2.5,'string',True]
list2=[1,2,3,4,5]
list3=['a','b','c','d']
print(list1)
print(list1+list2)

[1, 2.5, 'string', True, 1, 2, 3, 4, 5]

In [14]:
#functions of list
list1.__sizeof__()
len(list3)

4

In [13]:
list2*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
#indexing
print(list1[1])
print(list2[1:3])
print(list[-1])

2.5
[2, 3]
list[-1]

In [18]:
listx=['python',1.2,5,'hello']
listx[0]='mihir'
listx
del listx[0]
listx

[1.2, 5, 'hello']

# Tupels

In [22]:
#declaration of tuple
tup1=(2,3.5,'hello', 100)
tup2=(1,2,3,4,5)
print(tup1)
print(tup1+tup2)
print(tup1[2])

(2, 3.5, 'hello', 100)
(2, 3.5, 'hello', 100, 1, 2, 3, 4, 5)
hello

In [24]:
#functions
print(len(tup1))
print(type(tup1))
print(len(tup1+tup2))

4
<class 'tuple'>
9

# Dictionary

In [30]:
#Declaration
dict1= {'fruit':'mango',"animal":"tiger","city":"baroda"}
print(dict1)
dict2={1:"banana",2:'lion',3:"surat"}
print(dict2)
dict3={1:"banana","Animal":'lion',3:"surat","number":5}
print(dict3)

{'fruit': 'mango', 'animal': 'tiger', 'city': 'baroda'}
{1: 'banana', 2: 'lion', 3: 'surat'}
{1: 'banana', 'Animal': 'lion', 3: 'surat', 'number': 5}

In [33]:
#functions
print(len(dict1))
print(type(dict1))
print(dict1.keys())
print(dict1.values())

3
<class 'dict'>
dict_keys(['fruit', 'animal', 'city'])
dict_values(['mango', 'tiger', 'baroda'])

In [40]:
#Add element in dict
dict1["new"]="Add"
print(dict1)
dict1["animal"]="dog"
print(dict1)

{'fruit': 'mango', 'animal': 'dog', 'city': 'baroda', 'new': 'Add', 'Aninal': 'dog', 'Animal': 'dog'}
{'fruit': 'mango', 'animal': 'dog', 'city': 'baroda', 'new': 'Add', 'Aninal': 'dog', 'Animal': 'dog'}

# loops

In [1]:
#while loop
i = 0
while (i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [3]:
#for loop
n =5
for i in range(0,n):
    print(i)

0
1
2
3
4

In [4]:
lst = ["hello",1,5,"number",0]
for index in range(len(lst)):
    print(lst[index])

hello
1
5
number
0

#  Condition Statements

In [5]:
# If Else statement

var = 5
if var < 2 :
    print (var)
else :
    print("not less")

not less

# define function

In [ ]:
def add():
    x=int(input())
    y=int(input())
    print(x+y)
    
add()

# Simple Calculator programm

In [ ]:
#Functions

def add(x,y): #Addition
    return x+y

def sub(x,y): #Subtraction
    return x-y

def mul(x,y): #Multiplication
    return x*y

def div(x,y): #Division
    return x/y

#Instruction
print("Select Operation")
print(" 1 - Addition\n 2 - Subtraction\n 3 - Multiplication\n 4 - Division")

#input from user
f = int(input("Enter Your Selected Operation"))
#Condition
while f=!5:
    if f in (1,2,3,4):
        num1=int(input("Enter Number 1 : "))
        num2=int(input("Enter Number 2 : "))
        if f==1 :
            print("Addition : ", add(num1,num2))
        elif f==2:
            print("Subtraction: " ,sub(num1,num2))
        elif f==3:
            print("Multiplication : " ,mul(num1,num2))
        elif f==4:
            print("Division : " ,div(num1,num2))
    elif f==5:
        break

    else:
        print("Invalid Input")